<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Login</title>
    <link rel="icon" href="/static/bookstore.png" type="image/icon type">
    <center><h1 style="font-family: Brush Script MT;font-size: 60px; color: white;"><b>Find your Bind</b></h1></center>
    <center><div id="Header"> <div id ="Logo"><img src="static/bookstore.png" height="60" width="60"></div></center>
    <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
</head>
<body background="/static/backG.jpg" style= "background-repeat: no-repeat; background-size: cover; height: 1000px;">

<form class="box" action="/login" onsubmit="return validateForm()" target="_self" method="post">
    <h2 style="color: white" >User Login</h2>
    {% if error %}
        <p>{{error}}</p>
    {% endif %}
    <input type="text" name="us" placeholder="Username">
    <input type="Password" name="ps" placeholder="password">
    <input type="submit" value="login">
    <p><label style="color: white;"><input type="checkbox" checked="checked" name="remember">Remember me</label></p>
</form>

</body>
</html>