<!DOCTYPE html>
<html lang="en">
<head>
    <title>Find your Bind</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/bookstore.png" type="image/icon type">
    <link rel="stylesheet" type="text/css" href="static/css/home.css"/>
    <style>
        body {
           font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<body style="background-repeat: no-repeat; background-position: center; background-size: cover; height: 1000px;" background="/static/backG.jpg" >
<div class="dropdown">
    <button class="dropbtn"><b>Menu</b></button>
    <div class="dropdown-content">
        <a href="/admin_login">Admin Login</a>
        <a href="/admin_register">Admin SignUp</a>
        <a href="/user_login">User Login</a>
        <a href="/user_register">User SignUp</a>
    </div>
</div>
<center>
    <h1 style="font-family: Brush Script MT;font-size: 60px; color: white;"><b>Find your Bind</b></h1>
    <div id="Header"> <div id ="Logo"><img src="static/bookstore.png" height="60" width="60"></div>
    <div class="box">
        <p align="justify">Find your Bind is an online portal that allows the individuals to search its database of books, reviews and ratings. An individual can register on the portal for free and could easily find recommendations for their next books. Find your Bind was founded in 2021 where you can find more books you'll love, and keep track of the books you want to read.</p>
    </div>
    <style>
        .box{
        background-color: lightgrey;
        width: 30%;
        border: 15px ;
        border-style: solid;
        border-color: black;
        padding: 50px;
        margin: 20px auto;
        position: relative;
        text-align: center;
        }
    </style>
</center>
</body>
</html>

