<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Register</title>
    <link rel="icon" href="/static/bookstore.png" type="image/icon type">
    <center><h1 style="font-family: Brush Script MT;font-size: 60px; color: white;"><b>Find your Bind</b></h1></center>
    <center><h2 style="color: white;">Admin Register Page</h2></center>
    <link rel="stylesheet" type="text/css" href="static/css/reg.css"/>
</head>

<body background="/static/backG.jpg" >
<center>
<div class="box">
    <form action="/AdminProfile.html" method="post">
        <h2 style="color: white;">Register</h2>
        <input type="text" name="" placeholder="name"><br>
        <input type="text" name="" placeholder="Admin ID"><br>
        <input type="Password" name="" placeholder="password"><br>
        <p><input type="submit" name="" value="Register"></p>
    </form>
</div>
</center>
</body>
</html>