<!DOCTYPE html>
<html lang="en"
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Login</title>
    <link rel="icon" href="/static/bookstore.png" type="image/icon type">
    <center><h1 style="font-family: Brush Script MT;font-size: 60px; color: white;"><b>Find your Bind</b></h1></center>
    <center><div id="Header"> <div id ="Logo"><img src="static/bookstore.png" height="60" width="60"></div></center>
    <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
</head>
<body background="/static/backG.jpg" >

<form class="box" action="index.html" method="post">
    <h2 style="color: white">Admin Login</h2>
    <p><input type="text" name="" placeholder="Admin ID"></p>
    <input type="Password" name="" placeholder="password">
    <input type="submit" name="" value="login">
    <p><label style="color: white;"><input type="checkbox" checked="checked" name="remember">Remember me</label></p>
</form>

</body>
</html>