<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/bookstore.png" type="image/icon type">
    <title>Edit Profile-Admin</title>
    <link rel="stylesheet" type="text/css" href="static/css/edit.css"/>
</head>
<body background="/static/profile.jpg" style="background-repeat: no-repeat; background-size: cover; height: 100%;">
<center>
<h1 style="font-family: Brush Script MT;font-size: 60px; color: black;"><b>Find your Bind</b></h1>
<div class="box">
    <form action="/AdminProfile.html" method="get">
        <h2 style="color: white;">Profile</h2>
        <input type="text" name="" placeholder="name"><br>
        <input type="text" name="" placeholder="Admin ID"><br>
        <input type="Password" name="" placeholder="password"><br>
        <input type="number" name="" placeholder="age"><br>
        <input type="text" name="" placeholder="sex"><br>
        <p><input type="submit" name="" value="Confirm Edit"></p>
        <p><button type="submit">Logout</button></p>
    </form>
</div>
</center>
</body>
</html>