<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/bookstore.png" type="image/icon type">
    <title>Admin Profile</title>
</head>
<body background="/static/profile.jpg" style="background-repeat: no-repeat; background-size: cover; height: 100%;">
<table border="0" width="100%" bgcolor="black" height="8%">
<tr>
    <th width="33.33%"><font color="white" size="4"><a class="active" href="#">Add Book</a></font></th>
    <th width="33.33%"><font color="white" size="4"><a class="active" href="#">Edit Book</a></font></th>
    <th width="33.33%"><font color="white" size="4"><a class="active" href="AdminEdit.html">Edit Profile</a></font></th>
</tr>
</table>
<form action="/">
    <center>
        <h1 style="font-family: Brush Script MT;font-size: 60px; color: black;"><b>Find your Bind</b></h1>
        <div class="box">
            <form method="get">
                <input type="text" name="" placeholder="name">
                <input type="number" name="" placeholder="age">
            </form>
        </div>
        <p><button type="submit">Logout</button></p>
        <p></p>
        <hr style="width: 50%; color: black; height: 1px; background-color: black">
    </center>
</form>
</body>
</html>