<!DOCTYPE html>
<html lang="en"
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Login</title>
    <link rel="icon" href="/static/bookstore.png" type="image/icon type">
    <center><h1 style="font-family: Brush Script MT;font-size: 60px; color: white;"><b>Find your Bind</b></h1></center>
    <center><div id="Header"> <div id ="Logo"><img src="static/bookstore.png" height="60" width="60"></div></center>
    <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
    <script>
        function validateForm(){
        var x = document.forms["User Login"]["Username"].value;
        if (x==null || x==""){
            alert("Username should be entered");
            return false;
        }
        var y = document.forms["User Login"]["password"].value;
        if(y==null || y==""){
            alert("Password should be entered");
            return false;
        }
        }
    </script>
</head>
<body background="/static/backG.jpg" >

<form class="box" action="/login" onsubmit="return validateForm()" target="_self" method="post">
    <h2 style="color: white" >User Login</h2>
    {% if error %}
        <p>{{error}}</p>
    {% endif %}
    <input type="text" name="" placeholder="Username">
    <input type="Password" name="" placeholder="password">
    <input type="submit" name="" value="login">
</form>

</body>
</html>