<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Profile</title>
    <link rel="icon" href="/static/bookstore.png" type="image/icon type">
    <link rel="stylesheet" type="text/css" href="static/css/profile.css"/>
</head>
<body background="/static/profile.jpg">
<form action="/">
    <center>
        <div class="topnav">
            <a class="active" href="UserEdit.html">Edit Profile</a>
            <a class="active" href="#">Trending Book List</a>
            <div class="search-container">
                <form action="URL">
                    <input type="text" placeholder="Search.." class="search">
                    <button type="submit"><i class="material-icons">search</i></button>
                </form>
            </div>
        </div>
        <h1 style="font-family: Brush Script MT;font-size: 60px; color: black;"><b>Find your Bind</b></h1>
        <div class="box">
            <form method="get">
                <input type="text" name="" placeholder="name">
                <input type="number" name="" placeholder="age">
            </form>
        </div>
        <p><button type="submit">Logout</button></p>
        <p></p>
        <hr style="width: 50%; color: black; height: 1px; background-color: black">
        <h2 style="font-family: Sans-Serif;font-size: 20px; color: black;">Recommended Books</h2>
    </center>
</form>
</body>
</html>