<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="icon" href="/static/bookstore.png" type="image/icon type">
    <center><h1>Register Page</h1></center>
</head>

</body background="/static/backG.jpg" >
<center>
<div>
    <form method="post">
        <h2>Register</h2>
        <input type="text" name="" placeholder="name"><br>
        <input type="email" name="" placeholder="email"><br>
        <input type="Password" name="" placeholder="password"><br>
        <input type="number" name="" placeholder="age"><br>
        <input type="text" name="" placeholder="sex"><br>
        <p><input type="submit" name="" value="Register"></p>
    </form>
</div>
</center>
</body>
</html>