<!DOCTYPE html>
<html lang="en">
<head>
    <title>Find your Bind</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/bookstore.png" type="image/icon type">
    <link rel="stylesheet" type="text/css" href="static/css/home.css"/>
    <style>
        body {
           font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<body>
<div class="dropdown" style="float:right;">
    <button class="dropbtn">Menu</button>
    <div class="dropdown-content">
        <a href="#">Admin Login</a>
        <a href="#">Admin SignUp</a>
        <a href="#">User Login</a>
        <a href="#">User SignUp</a>
    </div>
</div>
<center>
    <div class="header">
        <h1>Find your bind</h1>
        <p>Find your Bind is an online portal that allows the individuals to search its database of books, reviews and ratings.<br>An individual can register on the portal for free and could easily find recommendations for their next books.<br>Find your Bind was founded in 2021 where you can find more books you'll love, and keep track of the books you want to read.</p>
    </div>
</center>
</body>
</html>

